<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="helloworld"/>        
    

    <bean id="englishHelloWorldService" class="helloworld.service.EnglishHelloWorldService">  
    </bean>
    
    <bean id="frenchHelloWorldService" class="helloworld.service.FrenchHelloWorldService">  
    </bean>

  	<bean id="helloWorldUserField" class="helloworld.user.HelloWorldUserField"> 
  	
  		<property name="english" ref="englishHelloWorldService"/>
  		<property name="french" ref="frenchHelloWorldService"/>
  		<property name="german" ref="german"/>
  	
    </bean>

</beans>

